<nav>
    <!-- <ul>
        <li>Home</li>
        <li>Custom</li>
        <li>Sedan</li>
        <li>SUV</li>
        <li>Truck</li>
    </ul> -->

    <!-- Navigation Bar: Dynamic content injected from the server -->
    <!-- EJS (Embedded JavaScript templates) -->
    <%- nav %>
</nav>