<main>
    <div class="container">
        <!-- Your main content here -->
        <!-- Use EJS syntax to render dynamic data -->

        <h1>Welcome to CSE Motors!</h1>
        <div class="hero-car-section">


            <div class="hero-car-text">
                <h4>DMC Delorean</h4>
                <p>3 cups holder</p>
                <p>Super doors</p>
                <p>Fuzzy dice!</p>

                <button>Own Today</button>
            </div>
        </div>

        <div class="upgrades-and-reviews">
            <div class="upgrades">
                <h2>Delorean Upgrades</h2>

                <div class="parts_layout">
                    <div class="parts_images">

                        <img src="/images/upgrades/flux-cap.png" alt="Delorean_Car">

                        <p>Flus Capacitor</p>
                    </div>

                    <div class="parts_images">

                        <img src="/images/upgrades/flame.jpg" alt="Delorean_Car">

                        <p>Flame Decals</p>
                    </div>

                    <div class="parts_images">

                        <img src="/images/upgrades/bumper_sticker.jpg" alt="Delorean_Car">

                        <p>Bumper Sticker</p>
                    </div>

                    <div class="parts_images">
                        <img src="/images/upgrades/hub-cap.jpg" alt="Delorean_Car">

                        <p>Hub Caps</p>
                    </div>
                </div>
            </div>


            <div class="reviews">
                <h2>DMC Delorean Reviews</h2>
                <ul>
                    <li>"So fast it's almost like traveling in time." (4/5)</li>
                    <li>"Coolest ride in the road." (4/5)</li>
                    <li>"I'm feeling McFly!" (5/5)</li>
                    <li>"The most futuristic ride of our life" (4.5/5)</li>
                    <li>"80's living and I love it!" (5/5)</li>
                </ul>
            </div>
        </div>
    </div>
</main>